[submodule "moodle/mod/attendance"]
	path = moodle/mod/attendance
	url = https://github.com/danmarsden/moodle-mod_attendance.git
	branch = MOODLE_500_STABLE
[submodule "moodle/mod/choicegroup"]
	path = moodle/mod/choicegroup
	url = https://github.com/ndunand/moodle-mod_choicegroup.git
	branch = master
[submodule "moodle/mod/studentquiz"]
	path = moodle/mod/studentquiz
	url = https://github.com/frankkoch/moodle-mod_studentquiz.git
	branch = main
[submodule "moodle/mod/quizgame"]
	path = moodle/mod/quizgame
	url = https://github.com/xow/moodle-mod_quizgame.git
	branch = master
[submodule "moodle/mod/vpl"]
	path = moodle/mod/vpl
	url = https://github.com/jcrodriguez-dis/moodle-mod_vpl.git
	branch = master
[submodule "moodle/mod/checklist"]
	path = moodle/mod/checklist
	url = https://github.com/davosmith/moodle-checklist.git
	branch = master
[submodule "moodle/mod/geogebra"]
	path = moodle/mod/geogebra
	url = https://github.com/projectestac/moodle-mod_geogebra.git
	branch = master
[submodule "moodle/mod/publication"]
	path = moodle/mod/publication
	url = https://github.com/academic-moodle-cooperation/moodle-mod_publication.git
	branch = MOODLE_500_STABLE
[submodule "moodle/mod/customcert"]
	path = moodle/mod/customcert
	url = https://github.com/markn86/moodle-mod_customcert.git
	branch = MOODLE_500_STABLE
[submodule "moodle/mod/coursecertificate"]
	path = moodle/mod/coursecertificate
	url = https://github.com/moodleworkplace/moodle-mod_coursecertificate.git
	branch = MOODLE_500_STABLE
[submodule "moodle/mod/subcourse"]
	path = moodle/mod/subcourse
	url = https://github.com/mudrd8mz/moodle-mod_subcourse.git
	branch = MOODLE_405_STABLE
[submodule "moodle/mod/scheduler"]
	path = moodle/mod/scheduler
	url = https://github.com/bostelm/moodle-mod_scheduler.git
	branch = master
[submodule "moodle/lib/editor/tiny/plugins/cloze"]
	path = moodle/lib/editor/tiny/plugins/cloze
	url = https://github.com/srobotta/moodle-tiny_cloze.git
	branch = main
[submodule "moodle/lib/editor/tiny/plugins/fontcolor"]
	path = moodle/lib/editor/tiny/plugins/fontcolor
	url = https://github.com/bfh/moodle-tiny_fontcolor.git
	branch = main
[submodule "moodle/lib/editor/tiny/plugins/preview"]
	path = moodle/lib/editor/tiny/plugins/preview
	url = https://github.com/dthies/moodle-tiny_preview.git
	branch = main
[submodule "moodle/blocks/xp"]
	path = moodle/blocks/xp
	url = https://github.com/FMCorz/moodle-block_xp.git
	branch = master
[submodule "moodle/blocks/completion_progress"]
	path = moodle/blocks/completion_progress
	url = https://github.com/deraadt/moodle-block_completion_progress.git
	branch = master
[submodule "moodle/blocks/dedication"]
	path = moodle/blocks/dedication
	url = https://github.com/catalyst/moodle-block_dedication.git
	branch = MOODLE_404_STABLE
[submodule "moodle/blocks/sharing_cart"]
	path = moodle/blocks/sharing_cart
	url = https://github.com/donhinkelman/moodle-block_sharing_cart.git
	branch = master
[submodule "moodle/blocks/grade_me"]
	path = moodle/blocks/grade_me
	url = https://github.com/remotelearner/moodle-block_grade_me.git
	branch = MOODLE_405_STABLE
[submodule "moodle/question/type/oumultiresponse"]
	path = moodle/question/type/oumultiresponse
	url = https://github.com/moodleou/moodle-qtype_oumultiresponse.git
	branch = main
[submodule "moodle/question/type/vplquestion"]
	path = moodle/question/type/vplquestion
	url = https://gricad-gitlab.univ-grenoble-alpes.fr/moodle-plugins/moodle-qtype_vplquestion.git
	branch = master
[submodule "moodle/question/type/combined"]
	path = moodle/question/type/combined
	url = https://github.com/moodleou/moodle-qtype_combined.git
	branch = main
[submodule "moodle/question/type/essayautograde"]
	path = moodle/question/type/essayautograde
	url = https://github.com/gbateson/moodle-qtype_essayautograde.git
	branch = master
[submodule "moodle/question/behaviour/adaptive_adapted_for_coderunner"]
	path = moodle/question/behaviour/adaptive_adapted_for_coderunner
	url = https://github.com/trampgeek/moodle-qbehaviour_adaptive_adapted_for_coderunner.git
	branch = master
[submodule "moodle/question/type/coderunner"]
	path = moodle/question/type/coderunner
	url = https://github.com/trampgeek/moodle-qtype_coderunner.git
	branch = master
[submodule "moodle/question/type/pmatch"]
	path = moodle/question/type/pmatch
	url = https://github.com/moodleou/moodle-qtype_pmatch.git
	branch = main
[submodule "moodle/question/type/varnumericset"]
	path = moodle/question/type/varnumericset
	url = https://github.com/moodleou/moodle-qtype_varnumericset.git
	branch = main
[submodule "moodle/question/type/varnumeric"]
	path = moodle/question/type/varnumeric
	url = https://github.com/moodleou/moodle-qtype_varnumeric.git
	branch = main
[submodule "moodle/question/type/varnumunit"]
	path = moodle/question/type/varnumunit
	url = https://github.com/moodleou/moodle-qtype_varnumunit.git
	branch = main
[submodule "moodle/lib/editor/ousupsub"]
	path = moodle/lib/editor/ousupsub
	url = https://github.com/moodleou/moodle-editor_ousupsub.git
	branch = main
[submodule "moodle/question/behaviour/dfexplicitvaildate"]
	path = moodle/question/behaviour/dfexplicitvaildate
	url = https://github.com/maths/moodle-qbehaviour_dfexplicitvaildate.git
	branch = master
[submodule "moodle/question/behaviour/dfcbmexplicitvaildate"]
	path = moodle/question/behaviour/dfcbmexplicitvaildate
	url = https://github.com/maths/moodle-qbehaviour_dfcbmexplicitvaildate.git
	branch = master
[submodule "moodle/question/behaviour/adaptivemultipart"]
	path = moodle/question/behaviour/adaptivemultipart
	url = https://github.com/maths/moodle-qbehaviour_adaptivemultipart.git
	branch = master
[submodule "moodle/question/type/stack"]
	path = moodle/question/type/stack
	url = https://github.com/maths/moodle-qtype_stack.git
	branch = master
[submodule "moodle/report/coursesize"]
	path = moodle/report/coursesize
	url = https://github.com/catalyst/moodle-report_coursesize.git
	branch = MOODLE_401_STABLE
[submodule "moodle/report/benchmark"]
	path = moodle/report/benchmark
	url = https://github.com/mikasmart/moodle-report_benchmark.git
	branch = master
[submodule "moodle/report/allbackups"]
	path = moodle/report/allbackups
	url = https://github.com/catalyst/moodle-report_allbackups.git
	branch = MOODLE_404_STABLE
[submodule "moodle/report/customsql"]
	path = moodle/report/customsql
	url = https://github.com/moodleou/moodle-report_customsql.git
	branch = main
[submodule "moodle/availability/condition/relativedate"]
	path = moodle/availability/condition/relativedate
	url = https://github.com/ewallah/moodle-availability_relativedate.git
	branch = MOODLE_500_STABLE
[submodule "moodle/availability/condition/sectioncompleted"]
	path = moodle/availability/condition/sectioncompleted
	url = https://github.com/bdecentgmbh/moodle-availability_sectioncompleted.git
	branch = main
[submodule "moodle/availability/condition/ipaddress"]
	path = moodle/availability/condition/ipaddress
	url = https://github.com/MFreakNL/moodle-availability_ipaddress.git
	branch = main
[submodule "moodle/availability/condition/coursecompleted"]
	path = moodle/availability/condition/coursecompleted
	url = https://github.com/ewallah/moodle-availability_coursecompleted.git
	branch = main
[submodule "moodle/local/sandbox"]
	path = moodle/local/sandbox
	url = https://github.com/moodleuulm/moodle-local_sandbox.git
	branch = MOODLE_500_STABLE
[submodule "moodle/enrol/autoenrol"]
	path = moodle/enrol/autoenrol
	url = https://github.com/bobopinna/moodle-enrol_autoenrol.git
	branch = master
[submodule "moodle/local/aws"]
	path = moodle/local/aws
	url = https://github.com/catalyst/moodle-local_aws.git
	branch = master
[submodule "moodle/admin/tool/objectfs"]
	path = moodle/admin/tool/objectfs
	url = https://github.com/catalyst/moodle-tool_objectfs.git
	branch = MOODLE_404_STABLE
[submodule "moodle/admin/tool/s3logs"]
	path = moodle/admin/tool/s3logs
	url = https://github.com/catalyst/moodle-tool_s3logs.git
	branch = MOODLE_405_STABLE
[submodule "moodle/admin/tool/coursearchiver"]
	path = moodle/admin/tool/coursearchiver
	url = https://github.com/Syxton/moodle-tool_coursearchiver.git
	branch = 5.0-branch
[submodule "moodle/admin/tool/certificate"]
	path = moodle/admin/tool/certificate
	url = https://github.com/moodleworkplace/moodle-tool_certificate.git
	branch = MOODLE_500_STABLE
[submodule "moodle/user/profile/field/brasilufmunicipio"]
	path = moodle/user/profile/field/brasilufmunicipio
	url = https://gitlab.com/adapta/moodle-profilefield_brasilufmunicipio.git
	branch = main
[submodule "moodle/course/format/softcourse"]
	path = moodle/course/format/softcourse
	url = https://github.com/DigiDago/moodle-format_softcourse.git
	branch = MOODLE_500_STABLE
[submodule "moodle/course/format/tiles"]
	path = moodle/course/format/tiles
	url = https://bitbucket.org/dw8/moodle-format_tiles.git
	branch = moodle50
[submodule "moodle/course/format/etask"]
	path = moodle/course/format/etask
	url = https://gitlab.com/drlikm/format_etask.git
	branch = FORMAT_ETASK_24_STABLE
[submodule "moodle/course/format/buttons"]
	path = moodle/course/format/buttons
	url = https://github.com/jrangelardila/moodle-format_buttons.git
	branch = 5.x
[submodule "moodle/theme/academi"]
	path = moodle/theme/academi
	url = https://github.com/ProjetoSophiaDev/academi5.git
	branch = main
[submodule "moodle/admin/tool/opcache"]
	path = moodle/admin/tool/opcache
	url = https://github.com/moodle-an-hochschulen/moodle-tool_opcache.git
	branch = MOODLE_500_STABLE
